.features h1{
  text-align: center;
  color: #025157;
}
.features p{
  text-align: center;
  color: #4a4a4a;
}
.container {
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}

.item {
width: 400px;
height: 300px;
flex-direction: column;
text-align: center;
align-items: center;
}

  
